

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Barlow semi condensed';
    src: url('./src/assets/fonts/BarlowSemiCondensed-Medium.ttf') format('truetype'),
         url('./src/assets/fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
--Purple-50: hsl(260, 100%, 95%);
--Purpl-300: hsl(264, 82%, 80%);
--Purple-500: hsl(263, 55%, 52%);
--White: hsl(0, 0%, 100%);
--Grey-100: hsl(214, 17%, 92%);
--Grey-200: hsl(0, 0%, 81%);
--Grey-400: hsl(224, 10%, 45%);
--Grey-500: hsl(217, 19%, 35%);
--Dark-blue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);
--font-Barlow-semi-condensed: "Barlow semi condensed", sans-serif;
}

body{
    background-color: var(--Grey-100);
    font-family: var(--font-Barlow-semi-condensed);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container {
    width: 375px;
    margin:100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.box-user {
    box-shadow: 25px 45px 30px rgba(0,0,0, 0.1);
    border-radius: 8px;
    width: 305px;
    padding: 27px 37px;

}
.box-user > .text-1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 14px;
}
.box-user > .text-2 {
    font-size: 12.5px;
    font-weight: 200;
    opacity: 0.7;
    line-height: 20px;
}
.profile-info {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}

.profile-info h2 {
    font-size: 13px;
    font-weight: 500;
}
.profile-info p {
    font-size: 11px;
    opacity: 0.5;
}
.profile-img {
    border-radius: 50%;
    width: 30px;
    margin-right: 18px;
}
.purple {
    background-color: var(--Purple-500);
    color: var(--White);

}
.purple  .profile-img {
    border: 2px solid var(--Purpl-300);
}

.gray {
    background-color: var(--Grey-500);
    color: var(--Grey-100);
    padding: 29px;
}

.black {
    background-color: var(--Dark-blue);
    color: var(--Grey-200);
}
.white, .white2 {
    background-color: var(--White);
    color: var(--Grey-500);
}


@media screen and (min-width: 1024px) {
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
      
    .container {
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 2;
    }
    
}
















/* @media screen and (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }
    .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: ; */
    gap: 20px;
    min-width: 1110px;
    /* height: auto; */
    margin: 0 100px ;
    /* align-items: flex-start; */
    
   }

   .box-user{
    width: fit-content;
    height: fit-content;
   }
   .purple{
    grid-column: 1 / 3;
    grid-row: 1;
    
   }
   .white2 {
    grid-column: 4;
    grid-row: 1 / 3;
    
   }

   .white {
    grid-column: 1;
    grid-row: 2;
   }
   .black {
    grid-column: 2 / 4;
    grid-row: 2;
   }


} */